*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    text-align: center;    
    background-color: #d30f0f;
    padding-bottom: 30px;
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.upContainer,
.downContainer{
    background-color: #f1f1f1;
    width: 70%;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.datiUtente{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

input{
    margin: 20px;
    padding: 5px;
    font-size: 15px;
}

button{
    width: 100px;
    height: 30px;
    cursor: pointer;
}

#biglietto{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}

.nomeCognome{
    flex-grow: 2;
}
.carrozza,
.codiceCp,
.costoBiglietto{
    flex-basis: 20%;
}

h3, h4{
    margin-bottom: 20px;
}

span{
    font-size: 20px;
    font-weight: bold; 
}
